@use '../../mixins' as *;

.article-template {
  // on mobile, client can decide the order of items by dragging/dropping the blocks. On desktop, we stick to the design.
  @include mqmin($bp-md) {
    grid-template-areas:
      "header"
      "image"
      "content";
  }
  &__header {
    margin-bottom: 0;
    width: calc(100vw - 75px);
    grid-template-areas:
    "type date"
    "title title"
    "author author";
    @include mqmin($bp-md) {
      margin-bottom: 3.5rem;
      grid-template-areas:
      "type type"
      "title title"
      "author date";
      text-align: center;
      grid-area: header;
    }
    .article-header {
      &__title {
        grid-area: title;
        font-size: rem(28);
        line-height: rem(33.6);
        margin: 0;
        @include mqmin($bp-md) {
          font-size: rem(48);
          line-height: rem(57.6);
        }
      }
      &__type {
        grid-area: type;
      }
      &__author,
      &__date {
        grid-column-end: span 2;
        text-align: center;
        font-size: rem(14);
        line-height: 1.5;
      }
      &__date {
        @include mqmax($bp-md) {
          grid-area: date;
          text-align: right;
        }
        @include mqmin($bp-md) {
          grid-row-start: 3;
        }
      }
      &__author {
        text-align: left;
        grid-row-start: 3;
        @include mqmin($bp-md) {
          text-align: center;
        }
        + .article-header__date {
          @include mqmax($bp-md) {
            &:before {
              content: none;
             }
          }
        }
      }
    }
    &.has-author.has-date {
      .article-header__author {
        grid-area: author;
        text-align: left;
        @include mqmin($bp-md) {
          text-align: right;
        }
      }
      .article-header__date {
        grid-area: date;
        text-align: right;
        @include mqmin($bp-md) {
          text-align: left;
        }
        &::before {
          @include mqmin($bp-md) {
            content: '';
            display: inline;
            margin-left: rem(16);
            border-left: 1px solid var(--color-brand-text-50);
            padding-left: rem(16);
          }
        }
      }
    }
    &.has-date:not(.has-type) {
      @include mqmax($bp-md) {
        .article-header__date {
          grid-area: type;
          text-align: left;
        }
      }
    }
    &.has-type,
    &.has-date {
      .article-header__title {
        margin-top: 1.5rem;
      }
    }
    &.has-date {
      .article-header__title {
        @include mqmin($bp-md) {
          margin-bottom: 1.5rem;
        }
      }
    }
    &.has-author {
      .article-header__title {
        margin-bottom: 1.5rem;
      }
    }
  }
  &__hero-container {
    margin-bottom: 2rem;
    width: 100%;
    @include mqmin($bp-md) {
      grid-area: image;
      margin-bottom: 0;
    }
    .article-template__header + & {
      @include mqmax($bp-md) {
        margin-top: 2rem;
      }
    }
  }
  &__content {
    @include mqmin($bp-md) {
      grid-area: content;
    }
    .article-template__header + & {
      margin-top: calc(var(--element-spacing) * 3);
    }
  }
  // Article comment section CSS
  &__comment-wrapper {
    margin: 3rem auto 1rem;
    max-width: var(--site-center-narrow);
    width: calc(100vw - 75px);
    .form__actions {
      margin-top: 1rem;
    }
    .article-template {
      &__comments-comment {
        padding: 2rem 0;
        + .article-template__comments-comment {
          border-top: 1px solid var(--color-border);
        }
        > header {
          margin-bottom: rem(8);
          > span + span {
            @include mqmax($bp-md) {
              display: block;
              font-size: rem(12);
            }
            @include mqmin($bp-md) {
              margin-left: rem(6);
            }
          }
        }
      }
      &__comment-warning {
        font-size: rem(12);
        color: var(--color-brand-text-50);
      }
    }
  }
}
.template-article {
  .social-sharing-section {
    margin-top: 3.5rem;
    @include mqmin($bp-md) {
      margin: 4.5rem 0;
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
  .related-articles {
    margin-top: 4.5rem;
    @include mqmin($bp-md) {
      margin-top: 6rem;
    }
  }
}
