@use '../../mixins'as *;

.header {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  .logo,
  .header__icons .icon,
  .menu-drawer__icons .icon {
    color: var(--color-brand-text);
  }
  &.header--inverse {
    background-color: transparent;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color var(--duration-default) ease-in-out;
    &:hover {
      transition: none;
    }
    .logo,
    .header__icons .icon {
      color: var(--color-white);
    }
  }
  &:hover,
  &.header--inverse .header-is-open &,
  &.header--inverse-solid {
    background-color: var(--color-brand-background);
    color: var(--color-brand-text);
    .logo,
    .header__icons .icon {
      color: var(--color-brand-text);
    }
  }
  &__inner-container {
    background-color: var(--color-brand-background);
    position: absolute;
    top: 100%;
    display: none;
    .header__menu-item--is-open & {
      display: block;
    }
    &.header-menu__single {
      left: calc(var(--site-side-spacing-md) * -1 + .75rem);
      .header__menu-list {
        display: block;
      }
    }
    &.header-menu__multi {
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
  &__navigation-container {
    max-width: var(--site-center);
    margin: 0 auto;
    padding: 0 var(--site-side-spacing-md);
  }
  *[tabindex='-1']:focus {
    outline: none;
  }
}

// the layout
.header-nav {
  color: inherit;
  padding-top: rem(24);
  padding-bottom: rem(24);
  display: grid;
  grid-template-areas: 'left-icon heading icons';
  grid-template-columns: 90px auto 90px;
  align-items: center;
  @include mqmin($bp-header) {
    grid-template-areas:
      'heading navigation icons';
  }
  &--logo-center {
    @include mqmin($bp-header) {
      grid-template-areas:
        'navigation heading icons';
      grid-template-columns: 5fr 1fr 5fr;
    }
  }
}
// the logo
.header__heading {
  font-size: rem(24);
  line-height: rem(32);
  &,
  &-link {
    display: block;
    text-decoration: none;
    overflow-wrap: break-word;
    color: inherit;
    grid-area: heading;
    justify-self: center;
    margin: 0;
    color: inherit;
    @include mqmin($bp-header) {
      justify-self: start;
    }
    &:hover,
    &:focus {
      color: var(--color-brand-primary);
    }
    .header-nav--logo-center & {
      justify-self: center;
    }
    svg {
      display: block;
    }
  }
}

// the icons
.header__icons {
  // this wrapper is only used on desktop
  grid-area: icons;
  display: flex;
  align-items: center;
  justify-self: end;
  .modal__toggle {
    color: inherit;
  }
}

.header__icon {
  color: inherit;
  margin-right: rem(8);
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: var(--color-brand-primary);
  }

  &--cart {
    position: relative;
  }
  &--search {
    .icon-close {
      display: none;
    }
  }
}

// the menu
.header__menu {
  grid-area: navigation;
  margin-top: rem(-24);
  margin-bottom: rem(-24);
  @include mqmin($bp-header) {
    text-align: center;
    .header-nav--logo-center & {
      text-align: left;
    }
  }
}

// the menu lists
.header__menu-list {
  &--level-2 {
    li {
      &.header__image {
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}

.header__menu-item {
  position: relative;
  &--multi {
    position: static;
  }
}

.header__menu-link {
  color: inherit;
  font-size: rem(14);
  padding: rem(26) rem(16) rem(26) rem(16);
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  background: none;
  border: none;
  outline: none;
  display: block;
  text-align: left;
  @include font-weight('bold');
  &:not(.header__menu-link--inactive):hover {
    color: var(--color-brand-primary);
    text-decoration: none;
    .icon path {
      fill: var(--color-brand-primary);
    }
  }
  &--level-2 {
    color: var(--color-brand-text);
    svg.icon {
      display: none;
    }
  }
  &--level-3 {
    color: var(--color-brand-text-50);
    padding: rem(6) 0;
  }
  span {
    transition: text-decoration var(--duration-short) ease;
  }
  .icon-collapsible {
    margin-left: rem(4);
    transform: rotate(0deg);
    .header__menu-item--is-open & {
      transform: rotate(180deg);
    }
  }
}

// the submenu
.header__submenu {
  transition: opacity var(--duration-default) ease,
    transform var(--duration-default) ease;
  &.header__menu-list:not(.header__menu-list--level-3) {
    padding: 40px 0;
  }
  .header__menu-link {
    &--level-2 {
      padding: 10px 0;
    }
  }
}

// the overlay
.header-shadow {
  background: var(--color-black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity var(--duration-default) ease-in-out;
  z-index: var(--z-index-sticky);
  .header-is-open & {
    bottom: 0;
    opacity: 0.3;
  }
}

#shopify-section-header {
  .header-position {
    position: relative;
    z-index: var(--z-index-sticky);
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: rem(72);
    }
    // Remove the spacer when the header is sticky, transparent on home.
    &--index {
      &:after {
        display: none;
      }
    }
  }
  &.shopify-section-header--open {
    .header {
      background-color: var(--color-white);
      position: absolute;
      top: 0;
      transform: translateY(0);
    }
  }
  &.shopify-section-header--sticky {
    .header {
      position: fixed;
      top: 0;
      transform: translateY(0);
    }
  }
  &.shopify-section-header--hidden {
    .header {
      transform: translateY(-100%);
    }
  }
  &.shopify-section-header--animate {
    .header {
      transition: all var(--duration-default) ease-in-out;
    }
  }
}