@use '../../mixins' as *;

.search-form {
  position: relative;
  margin-bottom: rem(16);
}
.search-result--page {
  padding: var(--element-spacing);
  background: var(--color-brand-accent)
}

.search__button {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  right: rem(16);
  top: 50%;
  transform: translateY(-50%);
}