@use '../../mixins' as *;

.page-title {
  margin-top: 0;
}
.main-page-title {
  margin-bottom: 3rem;
  @include mqmin($bp-md) {
    margin-bottom: 4rem;
  }
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}
.page-placeholder {
  border: 1px solid var(--color-brand-text-50);
}
