@use '../../mixins' as *;

.product-recommendations {
  display: block;
  &__heading,
  &__heading:last-child {
    margin: 0 0 rem(32) 0;
    padding: 0;
    text-align: center;
  }
  .grid__item {
    padding-bottom: 0;
  }
}
