<div>
  <h3 class="h5 mb-4">Collapsible</h3>
  <collapsible-element
    class="collapsible"
    data-options='
      {
        "closeSiblings": true
      }
    '
  >
    <div
      class="collapsible__group group collapsible-is-open block border-b border-t border-solid border-color-default"
      data-collapsible-group
    >
      <button
        type="button"
        class="collapsible__trigger flex w-full items-center justify-between break-words border-0 bg-transparent px-0 py-3 text-left transition-colors hover:text-primary focus:text-primary"
        data-collapsible-trigger
      >
        Collapsible button 1
        <span class="collapsible__trigger-icons">
          {%- render 'global-icon',
            icon: 'plus',
            icon_class: 'size-3 block group-[.collapsible-is-open]:hidden'
          -%}
          {%- render 'global-icon',
            icon: 'minus',
            icon_class: 'size-3 hidden group-[.collapsible-is-open]:block'
          -%}
        </span>
      </button>
      <div
        class="collapsible__target rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="pb-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="collapsible__group group block border-b border-t-0 border-solid border-color-default"
      data-collapsible-group
    >
      <button
        type="button"
        class="collapsible__trigger flex w-full items-center justify-between break-words border-0 bg-transparent px-0 py-3 text-left transition-colors hover:text-primary focus:text-primary"
        data-collapsible-trigger
      >
        Collapsible button 2
        <span class="collapsible__trigger-icons">
          {%- render 'global-icon',
            icon: 'plus',
            icon_class: 'size-3 block group-[.collapsible-is-open]:hidden'
          -%}
          {%- render 'global-icon',
            icon: 'minus',
            icon_class: 'size-3 hidden group-[.collapsible-is-open]:block'
          -%}
        </span>
      </button>
      <div
        class="collapsible__target rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="pb-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="collapsible__group group block border-b border-t-0 border-solid border-color-default"
      data-collapsible-group
    >
      <button
        type="button"
        class="collapsible__trigger flex w-full items-center justify-between break-words border-0 bg-transparent px-0 py-3 text-left transition-colors hover:text-primary focus:text-primary"
        data-collapsible-trigger
      >
        Collapsible button 3
        <span class="collapsible__trigger-icons">
          {%- render 'global-icon',
            icon: 'plus',
            icon_class: 'size-3 block group-[.collapsible-is-open]:hidden'
          -%}
          {%- render 'global-icon',
            icon: 'minus',
            icon_class: 'size-3 hidden group-[.collapsible-is-open]:block'
          -%}
        </span>
      </button>
      <div
        class="collapsible__target rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="pb-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>
  </collapsible-element>
</div>

<div>
  <h3 class="h5 mb-4 mt-10">Collapsible using button styles</h3>
  <collapsible-element
    class="collapsible"
    data-options='
      {
        "closeSiblings": true
      }
    '
  >
    <div class="collapsible__group group  collapsible-is-open" data-collapsible-group>
      <button
        type="button"
        class="collapsible__trigger button button--secondary w-full items-center justify-between"
        data-collapsible-trigger
      >
        Collapsible button 1
        {%- render 'global-icon',
          icon: 'collapsible',
          icon_class: 'size-3 collapsible__trigger-icon rotate-0 group-[.collapsible-is-open]:rotate-180'
        -%}
      </button>
      <div
        class="collapsible__content rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="rte py-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="collapsible__group group" data-collapsible-group>
      <button
        type="button"
        class="collapsible__trigger button button--secondary w-full items-center justify-between"
        data-collapsible-trigger
      >
        Collapsible button 2
        {%- render 'global-icon',
          icon: 'collapsible',
          icon_class: 'size-3 collapsible__trigger-icon rotate-0 group-[.collapsible-is-open]:rotate-180'
        -%}
      </button>
      <div
        class="collapsible__content rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="rte py-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="collapsible__group group" data-collapsible-group>
      <button
        type="button"
        class="collapsible__trigger button button--secondary w-full items-center justify-between"
        data-collapsible-trigger
      >
        Collapsible button 3
        {%- render 'global-icon',
          icon: 'collapsible',
          icon_class: 'size-3 collapsible__trigger-icon rotate-0 group-[.collapsible-is-open]:rotate-180'
        -%}
      </button>
      <div
        class="collapsible__content rte max-w-none break-words"
        data-collapsible-target
      >
        <div class="overflow-hidden">
          <div class="rte py-4">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ducimus,
              repellendus error adipisci assumenda sint, tempora nisi magni optio dolor architecto
              et. Aliquam ducimus minima cupiditate unde, voluptates accusantium optio?
            </p>
          </div>
        </div>
      </div>
    </div>
  </collapsible-element>
</div>
