.usps {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px;
  .usps__item {
    flex: 1;
    text-align: center;
    .usps__icon {
      margin-bottom: 20px;
      font-size: 40px;
      color: red;
    }
    .usps__title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .usps__text {
      font-size: 16px;
      color: black;
    }
  }
}
