@use '../../mixins' as *;

.login-or-register {
  max-width: rem(384);
  margin-left: auto;
  margin-right: auto;
  @include mqmin($bp-md) {
    margin-bottom: rem(112);
  }
}

.login {
  a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    &[href='#login'],
    &[href='#recover'] {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .field + a {
    margin-top: 1rem;
  }
  p {
    margin: 1.5rem 0;
  }
  h3 {
    margin-top: 1.5rem;
    text-align: center;
  }
}

// Recover password form
#recover {
  display: none;
  &:target {
    display: block;
    + div {
      display: block;
    }
    ~ #login,
    ~ #login + div {
      display: none;
    }
  }
}

.errors ul {
  font-size: rem(14);
  list-style: none;
  padding: 0;
}