@use '../../mixins' as *;

/* Customer order table */
.form-fields table {
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  box-shadow: none;
  position: relative;
  width: 100%;
  thead,
  th,
  tfoot td:first-of-type {
    @include mqmax($bp-md) {
      display: none;
    }
  }
  tr {
    @include mqmax($bp-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
  }
  td {
    @include mqmax($bp-md) {
      display: flex;
      text-align: left;
      &:before {
        @include font-weight('regular');
        content: attr(data-label);
        color: var(--color-black-50);
        flex: 0 1 50%;
        padding-right: 2rem;
      }
      &[data-label="Product"] {
        justify-content: space-between;
        padding: 1rem 0;
        &:before {
          content: none;
        }
        p {
          flex: 1;
          padding-left: 1rem;
          text-align: center;
        }
      }
      &:first-of-type {
        display: flex;
        align-items: center;
        padding-top: 1rem;
      }
      &:last-of-type {
        border-bottom: 1px solid var(--color-black-5);
      }
    }
  }
  th,
  td {
    @include font-weight('regular');
    border: none;
    font-size: rem(14);
    line-height: rem(22);
    padding: 0 1rem 0 0;
    text-align: left;
    vertical-align: top;
    @include mqmin($bp-md) {
      width: 13rem;
    }
    &:first-of-type,
    &:last-of-type {
      @include mqmin($bp-md) {
        width: 6rem;
      }
    }
  }
  thead th {
    color: var(--color-black-50);
    @include mqmin($bp-md) {
      padding-top: rem(9);
      padding-bottom: 1.5rem;
    }
  }
  tbody {
    color: var(--color-brand-text);
    tr {
      &:last-of-type {
        border-bottom: none;
      }
    }
    td {
      padding-top: 0;
      padding-bottom: 1rem;
      @include mqmin($bp-md) {
        padding-top: 1rem;
        border-bottom: 1px solid var(--color-black-5);
      }
      &:empty {
        display: initial;
      }
      &[data-label="Product"] {
        @include mqmin($bp-md) {
          min-width: 13rem;
          .label-extra-large {
            font-size: inherit;
          }
        }
      }
    }
  }
  tfoot {
    tr {
      &:first-of-type td {
        padding-top: 4rem;
      }
      &:last-of-type td {
        border: 0;
      }
    } 
    td {
      font-size: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: right;
      @include mqmax($bp-md) {
        &[data-label="Total"] {
          @include font-weight('bold');
        }
      }
    }
    @include mqmin($bp-md) {
      tr:first-of-type td,
      tr:first-of-type th {
        padding-top: 2.4rem;
      }
      tr:last-of-type td,
      tr:last-of-type th {
        padding-bottom: 2.4rem;
      }
    }
  }
}
