@use '../../mixins'as *;

.footer {
  background: var(--color-black-5);
  color: var(--color-black-50);
  padding-top: rem(48);
  padding-bottom: rem(48);
  @include mqmin($bp-footer) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
  // .footer__blocks
  &__blocks {
    row-gap: rem(32);
    @include mqmin($bp-footer) {
      column-gap: rem(48);
    }
  }
  // .footer__info
  &__info {
    row-gap: rem(32);
    margin-top: rem(32);
    @include mqmin($bp-footer) {
      column-gap: rem(48);
      margin-top: rem(64);
    }
  }

  .payment-icons {
    margin-bottom: rem(-8);
    &__item {
      margin-right: rem(8);
      margin-bottom: rem(8);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .social-icons {
    margin-bottom: rem(-8);
    // .social-icons__item
    &__item {
      margin-right: rem(8);
      margin-bottom: rem(8);
      &:last-child {
        margin-right: 0;
      }
    }
    // .social-icons__link
    &__link {
      display: block;
      transition: transform var(--duration-short) linear;
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }

  .newsletter-form {
    &__message {
      &--error {
        color: var(--color-brand-negative);
      }
      .icon {
        margin-right: rem(4);
      }
    }
    &__description {
      margin-bottom: rem(8);
    }
    &__submit {
      margin-left: rem(6);
    }
    .field__input {
      background: var(--color-brand-background);
      border-color: var(--color-brand-background);
      background-color: var(--color-white);
    }
    +.visibility-hidden {
      margin-top: rem(24);
    }
  }
  
  .footer-menu {
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__link {
      display: block;
      padding: rem(6) 0;
      color: inherit;
      &:hover,
      &:focus {
        text-decoration: none;
        color: var(--color-brand-primary);
      }
      &.level-1 {
        @include font-weight('bold');
      }
      .icon {
        @include mqmin($bp-footer) {
          display: none;
        }
      }
    }
  }

}

.flexible-holder {
  display: block;
  max-width: var(--max-width);
}

.footer-block {
  // .footer-block__title
  &__title {
    color: var(--color-black);
  }
  // .footer-block--menu
  &--menu {
    margin-top: rem(-14);
    margin-bottom: rem(-14);
    @include mqmin($bp-footer) {
      margin-top: 0;
      margin-bottom: 0;
    }
    // .footer-block--menu__trigger
    &__trigger {
      box-sizing: border-box;
      appearance: none;
      display: block;
      background: transparent;
      border: none;
      width: 100%;
      text-align: left;
      position: relative;
      padding: rem(14) 0;
      margin: 0;
      @include mqmin($bp-footer) {
        padding: 0;
        margin-bottom: var(--element-spacing);
        pointer-events: none;
      }
      &:hover,
      &:focus {
        color: var(--color-brand-primary);
      }
      .icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include mqmin($bp-footer) {
          display: none;
        }
      }
      .icon-chevron-down {
        .collapsible-is-open & {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    .collapsible {
      .footer-block--menu__target {
        .js & {
          @include mqmin($bp-footer) {
            display: block;
          }
        }
      }
    }
  }
  // .footer-block--text
  &--text {
    .footer-block--text__richtext + .flexible-holder,
    .flexible-holder + .footer-block--text__richtext {
      margin-top: var(--element-spacing);
    }
  }
  // .footer-block--newsletter
  &--newsletter {
    order: -1; // Always push the newsletter block first on mobile
    @include mqmin($bp-footer) {
      order: unset;
    }
  }
}