@use '../../mixins' as *;

.blog-hero {
  &__inner {
    @include mqmin($bp-md) {
      display: flex;
      align-items: center;
    }
  }
  &__text {
    text-align: center;
    @include mqmax($bp-md) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    h1 {
      font-size: rem(28);
      line-height: 1.2;
      @include mqmin($bp-md) {
        font-size: rem(40);
      }
      &,
      a {
        color: var(--color-brand-text);
      }
    }
  }
  &__tags {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include mqmax($bp-md) {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
    @include mqmin($bp-md) {
      justify-content: flex-end;
    }
    .article-tags {
      justify-content: center;
      row-gap: 1rem;
      @include mqmin($bp-md) {
        justify-content: flex-end;
      }
      li {
        &:not(:last-child) {
          margin-right: rem(24);
          @include mqmin($bp-md) {
            margin-right: rem(40);
          }
        }
        a {
          color: var(--color-brand-text);
          display: block;
          font-size: rem(14);
          line-height: rem(18);
          @include font-weight('bold');
          letter-spacing: rem(1);
          white-space: nowrap;
          text-transform: uppercase;
          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            color: var(--color-brand-primary);
          }
        }
        &.active {
          a {
            color: var(--color-brand-primary);
          }
        }
      }
    }
  }
}

.container {
  &.blog-hero-wrapper {
    margin-bottom: rem(30);
    padding: 0;
    @include mqmin($bp-md) {
      margin-top: rem(36);
      margin-bottom: rem(30);
    }
  }
  &.blog-wrapper {
    margin-top: rem(30);
    @include mqmin($bp-md) {
      margin-top: rem(30);
    }
  }
}
