@use '../../mixins'as *;

.full-height {
  height: 100%;
}

.password {
  background-color: var(--color-brand-background);
  height: 100%;
}

.password-header {
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  display: grid;
  grid-template-areas: 'heading empty login';
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: var(--site-center);
  padding-top: rem(32);
  padding-bottom: rem(32);
  @include mqmin($bp-md) {
    gap: var(--col-gap);
    flex-direction: row;
  }
  &--center {
    @include mqmin($bp-sm) {
      grid-template-areas: 'empty heading login';
      .password-header__logo {
        justify-self: center;
      }
    }
  }
  &__logo {
    grid-area: heading;
    justify-self: start;
    line-height: 0;
    margin: 0;
  }
  password-modal {
    grid-area: login;
    flex-shrink: 0;
  }
}



.password__main {
  flex-grow: 1;
  > section:only-child {
    height: 100%;
    > .newsletter {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 0;
    }
    .newsletter__wrapper {
      width: 100%;
    }
    > .newsletter__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  &-text {
    display: block;
    padding: 0;
    margin-top: 1rem;
    a {
      margin-left: rem(4);
    }
  }
  &-login {
    margin-top: 1.2rem;
    padding-bottom: 4rem;
  }
  &-caption a {
    padding: 0;
    color: var(--color-outline-button-labels);
  }
}

.password-modal {
  position: relative;
  z-index: 2;
  background-color: var(--color-brand-background);
  display: none;
  .password-modal-open & {
    display: block;
  }
  .modal__content {
    flex-direction: column;
  }
  &__content {
    box-sizing: border-box;
    text-align: center;
    padding: rem(96) var(--site-side-spacing);
    width: 100%;
    min-height: 0;
    overflow: auto;
  }
  &__content-heading {
    font-size: 1.8rem;
    line-height: 1.6;
    @include mqmin($bp-md) {
      font-size: 1.8rem;
    }
  }
  .icon-close {
    color: var(--color-brand-text);
  }
  .form-fields {
    width: 100%;
    max-width: rem(320);
    margin: 0 auto;
  }
}

.modal__close-button {
  position: absolute;
  top: 1rem;
  right: 4vw;
  z-index: 1;
  padding: rem(12);
  color: var(--color-brand-text);
  background-color: transparent;
  .icon {
    margin: 0;
  }
}

.modal__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-brand-background);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}