@use '../../mixins' as *;

.account-header {
  margin-top: rem(56);
  margin-bottom: rem(56);
  @include site-center;
  @include site-side-spacing;
  > * {
    font-size: rem(14);
    line-height: rem(18);
    letter-spacing: rem(1);
    display: flex;
    align-items: center;
  }
  &__title > h1,
  &__link > .link {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
  &__title {
    justify-content: center;
    h1 {
      margin: 0;
    }
  } 
  &__link > .link {
    color: var(--color-brand-text);
    .icon {
      transform: rotate(180deg);
      margin-right: 1rem;
      margin-left: -5px;
      [fill="currentColor"]  {
        fill: var(--color-brand-text);
      }
    }
    &:hover {
      color: var(--color-brand-primary);
      .icon [fill="currentColor"]  {
        fill: var(--color-brand-primary);
      }
    }
  }
}