@use '../../mixins' as *;

.breadcrumbs-section {
  margin-top: rem(16);
  margin-bottom: rem(16);
  @include mqmin($bp-md) {
    margin-top: rem(24);
    margin-bottom: rem(24);
  }
  a {
    text-decoration: none;
    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
      [itemprop="name"] {
        opacity: 1;
      }
    }
  }
  .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: rem(12);
    line-height: rem(18);
    @include font-weight('bold');

    @include mqmin($bp-md) {
      margin-top: rem(20);
      font-size: rem(14);
      line-height: rem(20);
    }
    &__item {
      display: inline-flex;
      margin: 0;
      padding: 0 rem(13) 0 0;
      position: relative;
      color: var(--color-brand-text);
      text-decoration: none;
      opacity: 0.5;
      @include mqmin($bp-md) {
        padding: 0 rem(17) 0 0;
      }
    }
    &__link {
      color: var(--color-brand-text);
      &:hover {
        text-decoration: underline;
      }
    }
    &__divider {
      width: rem(1);
      text-align: center;
      display: inline-block;
      top: 0;
      bottom: 0;
      height: auto;
      right: rem(6);
      position: absolute;
      background: var(--color-brand-text);
      @include mqmin($bp-md) {
        right: rem(8);
      }
    }
  }
}
