@use '../../mixins' as *;

.cart-notification-wrapper {
  position: relative;
  .cart-notification {
    display: block;
  }
}

.cart-notification {
  box-sizing: border-box;
  background-color: var(--color-brand-background);
  border: 1px solid transparent;
  border-color: var(--color-brand-secondary-15);
  padding: rem(20) rem(24) rem(12);
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  visibility: hidden;
  width: 100%;
  max-width: rem(384);
  z-index: 100000; // TODO: replace with z-index var when merged
  &.animate {
    transition: transform var(--duration-short) ease, visibility 0s var(--duration-short) ease;
  }
  &.active {
    transform: translateY(0);
    transition: transform var(--duration-default) ease, visibility 0s;
    visibility: visible;
  }
  &__valid {
    .cart-notification--has-error & {
      display: none;
    }
  }
  &__invalid {
    display: none;
    .cart-notification--has-error & {
      display: block;
    }
  }
  &__header {
    align-items: flex-start;
    display: flex;
    position: relative;
    padding-right: rem(24);
  }
  &__heading {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
    .icon {
      color: var(--color-brand-text);
      margin-right: rem(16);
    }
    .cart-notification--has-error & {
      color: red;
      .icon {
        color: var(--color-brand-negative);
      }
    }
  }
  &__close {
    appearance: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__links {
    text-align: center;
    &-continue {
      color: var(--color-brand-link);
      font-size: rem(12);
      &:hover {
        color: var(--color-brand-link-hover);
      }
      @include mqmin($bp-md) {
        font-size: rem(14);
        .icon {
          width: rem(20);
          height: rem(20);
        }
      }
    }
    .button:not(.cart-notification__links-continue) {
      margin-top: rem(8);
      height: rem(40);
      @include mqmin($bp-md) {
        height: rem(48);
        font-size: rem(18);
      }
    }
  }
  &__error-message {
    padding: rem(24) 0 rem(16);
    font-size: rem(14);
    line-height: rem(20);
  }
}

.cart-notification-product {
  align-items: flex-start;
  display: flex;
  padding-top: rem(24);
  padding-bottom: rem(8);
  margin-bottom: rem(16); 
  font-size: rem(14);
  line-height: rem(20);
  @include mqmin($bp-md) {
    border-bottom: 1px solid var(--color-black-5);
    padding-bottom: rem(24);
  }
  dl {
    margin-bottom: 0;
    margin-top: 0;
  }
  &__image {
    border: 0.1rem solid var(--color-brand-secondary-5);
    margin-right: rem(24);
  }
  &__name {
    margin-bottom: 0;
    margin-top: 0;
    @include font-weight('bold');
  }
  &__price {
    margin-top: rem(2);
    .price--compare {
      margin-left: rem(8);
    }
  }
  &__option {
    font-size: rem(12);
    margin-top: rem(12);
    + .cart-notification-product__option {
      margin-top: 0;
    }
    > * {
      display: inline-block;
      margin: 0;
    }
  }
}