@use '../../mixins' as *;

.template-cart {
  @include mqmax($bp-md) {
    padding-bottom: rem(135); // fix for sticky checkout button
  }
}

.cart {
  position: relative;
  display: block;
  font-size: rem(14);
  dl, dt, dd {
    margin: 0;
  }
  &__header {
    margin-bottom: 1.5rem;
    @include mqmin($bp-md) {
      margin-bottom: 3.5rem;
    }
    h1 {
      margin-top: 1.5rem;
      @include mqmin($bp-md) {
        margin: 0;
      }
    }
    .icon {
      transform: rotate(180deg);
      margin-right: rem(8);
    }
    .link {
      display: flex;
      @include font-weight('bold');
      align-self: center;
    }
  }
  &__usps {
    &-item {
      padding-left: 2.5rem;
      position: relative;
      margin-bottom: rem(12);
      &-text {
        font-size: rem(12);
        line-height: 1.2;
        padding-top: .25rem;
      }
      &-icon {
        display: block;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: var(--color-brand-primary-15);
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: rem(-2);
        left: 0;
        padding: rem(4);
      }
    }
  }
  &__warnings {
    display: none;
    padding: 7rem 0;
  }
  &__items {
    position: relative;
    &--disabled {
      pointer-events: none;
    }
  }
  &__footer {
    @include mqmin($bp-md) {
      margin-top: 3.5rem;
      grid-template-columns: 1fr 1fr!important;
    }
    @include mqmin($bp-lg) {
      grid-template-columns: 3fr 2fr 3fr!important;
    }
  }
  &__note {
    display: block;
    label {
      display: block;
      font-size: rem(12);
      line-height: rem(20);
      margin: 1.5rem 0;
    }
    .field__input {
      padding: 1rem;
    }
    .text-area {
      height: rem(90);
      min-height: rem(90);
      padding: rem(10) 1rem rem(14);
      font-size: rem(12);
      vertical-align: bottom;
    }
  }
  &__ctas {
    button {
      width: 100%;
    }
    .cart__update-button {
      margin-bottom: 1rem;
    }
    .cart__checkout-button {
      font-size: rem(18);
      height: rem(64);
      @include mqmin($bp-md) {
        height: rem(48);
      }
    }
    > *:not(noscript:first-child) + * {
      margin-top: 1rem;
    }
  }
  &__empty-text {
    display: none;
    margin-bottom: 1rem;
  }
  &__subtotal {
    @include mqmax($bp-md) {
      border-top: 1px solid var(--color-border-50);
      background-color: var(--color-brand-background);
      padding-top: 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99999;
    }
    .js-cart-footer-contents {
      position: relative;
      @include mqmax($bp-md) {
        padding: 0 var(--site-side-spacing);
      }
    }
  }
  &__totals {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    &-subtotal {
      font-size: 1rem;
      line-height: rem(28);
      margin-bottom: 0;
      &-value {
        font-size: 1rem;
        line-height: rem(28);
        margin: 0;
      }
    }
    .loading-overlay {
      &__spinner {
        width: auto;
        left: auto;
        right: 0;
      }
      &:not(.hidden) + p {
        display: none;
      }
    }
  }
  &__cart-error {
    color: var(--color-brand-negative);
    font-size: rem(14);
    margin: rem(8) 0;
    &:empty {
      margin: 0;
    }
  }
  &__tax-note {
    display: block;
    color: var(--color-brand-text-50);
    font-size: rem(14);
    margin: 0.5rem 0 1.5rem;
  }
}

.cart-item {
  border-bottom: 1px solid var(--color-border-50);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  grid-template-columns: 95px 1fr 1fr 1fr;
  grid-template-areas:
    "media title title title"
    "media meta quantity quantity"
    ;
    @include mqmin($bp-md) {
      grid-template-columns: 95px 4fr 1fr;
      grid-template-areas:
        "media title quantity"
        "media meta meta"
      ;
    }
  $grid-areas: media, title, meta, quantity;
  @each $area in $grid-areas {
    &__#{$area} {
      grid-area: #{$area};
    }
  }
  &__media {
    cursor: pointer;
    img {
      vertical-align: bottom;
    }
  }
  &__meta {
    align-self: end;
    font-size: rem(12);
    line-height: rem(20);
  }
  &__quantity {
    max-width: rem(120);
    justify-self: end;
    .quantity__input {
      width: rem(28);
      @include mqmin($bp-md) {
        width: rem(40);
      }
    }
  }
  &__discount {
    align-self: end;
    font-size: rem(12);
    line-height: rem(22);
  }
  &__name {
    @include font-weight('bold');
    color: var(--color-brand-text);
  }
  &__prices {
    line-height: rem(22);
  }
  &__error {
    color: var(--color-brand-negative);
    font-size: rem(12);
    line-height: inherit;
    margin-top: .5rem;
    &-text:empty {
      display: none;
    }
  }
  cart-remove-button {
    display: inline-block;
    @include mqminmax($bp-md, $bp-lg) {
      width: 4.5rem;
      height: 4.5rem;
    }
   .button {
      padding: 0 0 1rem 1rem;
      position: absolute;
      top: 0;
      right: 0;
      @include mqmin($bp-md) {
        top: auto;
        bottom: 0;
      }
    }
  }
  .price--compare {
    margin-left: rem(8);
  }
  .product-option {
    display: flex;
    line-height: 1;
    margin-top: rem(8);
    dd {
      margin-left: rem(3);
    }
  }
}

cart-items {
  display: block;
}

.is-empty {
  .cart__header,
  .cart__contents,
  .cart__footer {
    display: none;
  }
  .cart__empty-text,
  .cart__warnings {
    display: block;
  }
}
