@use '../../mixins' as *;

.discounts {
  font-size: 1.2rem;
  &__discount {
    display: flex;
    align-items: center;
    line-height: 1.5;
    &--end {
      justify-content: flex-end;
    }
    > .icon {
      color: var(--color-brand-text);
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.7rem;
    }
    svg {
      color: var(--button-background);
    }
  }
}