@use '../../mixins' as *;

.pagination-wrapper {
  margin-top: rem(56);
  margin-bottom: rem(56);
  @include mqmin($bp-lg) {
    margin-top: rem(68);
    margin-bottom: rem(68);
  }
}
.pagination {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  > li {
    flex: 0 0 auto;
  }
  &__item {
    color: var(--color-brand-text);
    display: block;
    padding: rem(10) rem(12);
    text-decoration: none;
    font-size: rem(14);
    line-height: rem(20);
    @include font-weight('bold');
    &--prev,
    &--next {
      border: 1px solid var(--color-border);
      border-radius: 100%;
      position: relative;
      width: rem(38);
      height: rem(38);
      padding: 0;
      transition: border-color var(--duration-short) linear;
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: transform var(--duration-short) linear;
        [fill="currentColor"] {
          fill: var(--color-brand-text);
        }
      }
      &:hover {
        border-color: var(--color-brand-text);
        .icon {
          transform: translate(-50%,-50%) scale(1.3);
          [fill="currentColor"] {
            fill: var(--color-brand-text);
          }
        }
      }
    }
    &--prev {
      transform: rotate(180deg);
      margin-right: rem(12);
    }
    &--next {
      margin-left: rem(12);
    }
    &--current,
    &:hover {
      color: var(--color-brand-primary);
    }
  }
}
