@use '../../mixins' as *;

.product__badges {
  .product-media__slider &,
  .product-card__inner & {
    position: absolute;
    top: rem(8);
    left: rem(8);
    z-index: 20;
    pointer-events: none;
    @include mqmin($bp-md) {
      top: rem(16);
      left: rem(16);
    }
  }
  .product__badge {
    @include font-weight('medium');
    background-color: var(--color-brand-accent);
    color: var(--color-brand-text-on-accent);
    display: inline-block;
    padding: rem(4) rem(12);
    pointer-events: none;
    overflow-wrap: break-word;
    margin: 0 rem(8) rem(8) 0;
    font-size: rem(12);
    line-height: rem(20);
    &--new {
      background-color: var(--color-brand-funnel);
      color: var(--color-brand-text-on-funnel);
    }
    &--sold-out {
      background-color: var(--color-brand-secondary);
      color: var(--color-brand-text-on-secondary);
    }
    &--preorder {
      background-color: var(--color-brand-secondary);
      color: var(--color-brand-text-on-secondary);
    }
    &--sale {
      background-color: var(--color-black-5);
      color: var(--color-brand-text);
    }
  }
  &--big {
    .product-media__slider &,
    .product-card__inner & {
      top: rem(16);
      left: rem(16);
    }
    .product__badge {
      padding: rem(10) rem(20);
      font-size: rem(14);
      line-height: rem(20);
    }
  }
}
