@use '../../mixins' as *;

.quickshop {
  display: block;
  position: relative;
  &__popup {
    opacity: 0;
    pointer-events: none;
    background-color: var(--color-white);
    position: absolute;
    bottom: rem(16);
    left: rem(16);
    right: rem(16);
    padding: rem(6);
    z-index: 21;
    transition: opacity var(--duration-short) ease;
    @include mqmax($bp-md) {
      padding-bottom: rem(16);
      &--is-open {
        opacity: 1;
        pointer-events: all;
      }
    }
    @include mqmin($bp-md) {
      .product-card:hover & {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__btn-add {
    display: none;
    min-width: rem(120);
    @include mqmax($bp-md) {
      display: block;
    }
  }
  &__title-bar {
    position: relative;
    text-align: center;
    padding: rem(10) rem(24);
    display: none;
    @include mqmax($bp-md) {
      display: block;
    }
  }
  &__btn-close {
    position: absolute;
    top: rem(15);
    right: rem(8);
    .icon {
      margin: 0;
    }
  }
}
