@use '../mixins'as *;

body {
  @include font-weight('regular');
  color: var(--color-brand-text);
  background-color: var(--color-brand-background);
  font-size: rem(16);
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

figure {
  margin: 0;
  padding: 0;
}

// Set the same top margin for common content elements
p,
ul,
ol,
figure,
table,
dl,
blockquote,
q,
form,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.element-spacing {
  margin-top: 0;
  @include element-spacing;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  @include element-spacing(2);
}

// Remove top margins for nested elements
li ul,
li ol,
table table {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--color-brand-primary);
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.shopify-challenge__container {
  margin: 7rem auto;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

.cover-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include font-weight('bold');
  line-height: 1.2;
}

h1,
.h1 {
  font-size: rem(40);
  line-height: rem(48);
  @include mqmin($bp-lg) {
    font-size: rem(72);
    line-height: rem(86);
  }
}

h2,
.h2 {
  font-size: rem(40);
  line-height: rem(48);
  @include mqmin($bp-lg) {
    font-size: rem(48);
    line-height: rem(56);
  }
}

h3,
.h3 {
  font-size: rem(28);
  line-height: rem(32);
  @include mqmin($bp-lg) {
    font-size: rem(40);
    line-height: rem(48);
  }
}

h4,
.h4 {
  font-size: rem(28);
  line-height: rem(32);
}

h5,
.h5 {
  font-size: rem(24);
  line-height: rem(28);
}

h6,
.h6 {
  font-size: rem(20);
  line-height: rem(24);
}

.body-1 {
  font-size: rem(16);
  line-height: rem(28);
}

.body-2 {
  font-size: rem(14);
  line-height: rem(22);
}

.body-3 {
  font-size: rem(12);
  line-height: rem(20);
}

strong,
b {
  @include font-weight('bold');
}

.text-gray {
  color: var(--color-brand-text-50);
}

.text-positive {
  color: var(--color-brand-positive);
}

.text-negative {
  color: var(--color-brand-negative);
}

.text-primary {
  color: var(--color-brand-primary);
}

.text-secondary {
  color: var(--color-brand-secondary);
}

.text-inherit {
  color: inherit;
}

.weight-regular {
  @include font-weight('regular');
}

.weight-medium {
  @include font-weight('medium');
}

.weight-bold {
  @include font-weight('bold');
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.label-small {
  font-size: rem(12);
  line-height: rem(16);
}

.label-medium {
  font-size: rem(14);
  line-height: rem(20);
}

.label-large {
  font-size: rem(16);
  line-height: rem(28);
}

.label-extra-large {
  font-size: rem(18);
  line-height: rem(28);
}

.label-desktop-small {
  @include mqmin($bp-lg) {
    font-size: rem(12);
    line-height: rem(16);
  }
}

.label-desktop-medium {
  @include mqmin($bp-lg) {
    font-size: rem(14);
    line-height: rem(20);
  }
}

.label-desktop-large {
  @include mqmin($bp-md) {
    font-size: rem(16);
    line-height: rem(20);
  }
}

.label-desktop-extra-large {
  @include mqmin($bp-md) {
    font-size: rem(18);
    line-height: rem(28);
  }
}

.content-for-layout {
  flex: 1 1 auto;
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.5rem;
  @include font-weight('medium');
  p {
    line-height: inherit;
  }
}

.caption {
  font-size: 1rem;
  line-height: 1.7;
}

table:not([class]) {
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--color-brand-secondary-15);
  table-layout: fixed;
  font-size: 1rem;
  /* draws the table border  */
  :not([class]) td,
  :not([class]) th {
    padding: 1em;
    border: 1px solid var(--color-brand-secondary-15);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.7;
}

/* links */
.link {
  cursor: pointer;
  display: inline-block;
  color: var(--color-brand-link);
  text-decoration: none;
  .icon {
    [fill="currentColor"] {
      fill: var(--color-brand-link);
    }
    [stroke="currentColor"] {
      stroke: var(--color-brand-link);
    }
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: var(--color-brand-link-hover);
    .icon {
      [fill="currentColor"] {
        fill: var(--color-brand-link-hover);
      }
      [stroke="currentColor"] {
        stroke: var(--color-brand-link-hover);
      }
    }
  }
  // link in text color
  &.link--text {
    --color-brand-link: var(--color-brand-text);
    --color-brand-link-hover: var(--color-brand-text);
  }
  // link with underline
  &.underlined-link {
    text-decoration: underline;
  }
}

.link-with-icon {
  display: inline-flex;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-bottom: 4.5rem;
  white-space: nowrap;
  .icon {
    width: 1.5rem;
    margin-left: 1rem;
  }
}

.circle-divider::after {
  content: '\2022';
  margin: 0 1rem;
}

.circle-divider:last-of-type::after {
  display: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-brand-secondary-15);
  display: block;
  margin: 5rem 0;
}

.full-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: block;
}

.placeholder {
  background-color: var(--color-brand-secondary-5);
  color: var(--color-brand-secondary-50);
  fill: var(--color-brand-secondary-50);
}

details > * {
  box-sizing: border-box;
}

.break {
  overflow-wrap: break-word;
}

svg {
  .fill {
    fill: var(--color-brand-text);
  }
  .stroke {
    stroke: var(--color-brand-text);
  }
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
  }
}

.underlined-link {
  color: var(--color-brand-link);
  &:hover {
    color: var(--color-brand-link-hover);
  }
}

/* arrow animation */
.animate-arrow .icon-arrow path {
  transform: translateX(-0.25rem);
  transition: transform var(--duration-short) ease;
}

.animate-arrow:hover .icon-arrow path {
  transform: translateX(-0.05rem);
}

/* base-details-summary */
.summary {
  cursor: pointer;
  list-style: none;
  position: relative;
  .icon-caret {
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.35rem);
  }
  &::-webkit-details-marker {
    display: none;
  }
}
/* base-focus */
/*
  Focus ring - default (with offset)
*/
*:focus-visible {
  outline: 0.0625rem solid var(--color-brand-secondary-25);
  outline-offset: 0rem;
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
*:focus {
  outline: 0.0625rem solid var(--color-brand-secondary-25);
  outline-offset: 0rem;
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
*:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* Dangerous for a11y - Use with care */
.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}
