@use '../mixins' as *;

button {
  cursor: pointer;
}

.button,
.shopify-challenge__button {
  box-sizing: border-box;
  appearance: none;
  background-color: var(--button-background);
  border: var(--button-border) solid var(--button-border-color);
  border-radius: 0;
  color: var(--button-text);
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font: inherit;
  padding: rem(9) rem(16) rem(9);
  text-decoration: none;
  transition: var(--duration-default) background-color ease;
  font-size: rem(14);
  line-height: rem(20);
  @include font-weight('bold');
  &:hover,
  &:focus,
  &:active {
    background-color: var(--button-hover-background);
    color: var(--button-hover-text);
    border-color: var(--button-hover-border-color);
    text-decoration: none;
  }
  .icon {
    margin-left: .25rem;
    margin-right: .25rem;
  }
}

.button--sm {
  font-size: rem(12);
  line-height: rem(16);
  padding: rem(4) rem(12);
}

.button--md {
  font-size: rem(14);
  line-height: rem(20);
  padding: rem(9) rem(16) rem(9);
}

.button--lg {
  font-size: rem(14);
  line-height: rem(20);
  padding: rem(13) rem(32);
}

.button--xl {
  font-size: rem(18);
  line-height: rem(24);
  padding: rem(19) rem(32) rem(19);
}

.button--primary {
  --button-background: var(--color-brand-primary);
  --button-border-color: var(--color-brand-primary);
  --button-text: var(--color-brand-text-on-primary);
  --button-hover-background: var(--color-brand-primary-dark);
  --button-hover-border-color: var(--color-brand-primary-dark);
  --button-hover-text: var(--color-brand-text-on-primary);
}
.button--secondary {
  --button-background: var(--color-brand-secondary);
  --button-border-color: var(--color-brand-secondary);
  --button-text: var(--color-brand-text-on-secondary);
  --button-hover-background: var(--color-brand-secondary-50);
  --button-hover-border-color: var(--color-brand-secondary-50);
  --button-hover-text: var(--color-brand-text-on-secondary);
}
.button--tertiary {
  --button-background: var(--color-black-5);
  --button-border-color: var(--color-black-5);
  --button-text: var(--color-black);
  --button-hover-background: var(--color-black-15);
  --button-hover-border-color: var(--color-black-15);
  --button-hover-text: var(--color-black);
}
.button--outline {
  --button-background: transparent;
  --button-border-color: var(--color-brand-text);
  --button-text: var(--color-brand-text);
  --button-hover-background: var(--color-brand-text);
  --button-hover-border-color: var(--color-brand-text);
  --button-hover-text: var(--color-white);
}
.button--link {
  --button-background: transparent;
  --button-border-color: transparent;
  --button-text: var(--color-brand-text);
  --button-hover-background: transparent;
  --button-hover-border-color: transparent;
  --button-hover-text: var(--color-brand-primary);
  padding: 0;
  border: none;
}

.button--full-width {
  display: flex;
  width: 100%;
}

/* Button - other */
.button:disabled,
.button[aria-disabled='true'],
.button.disabled,
.form-fields button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

// Loading state
.button.loading {
  color: transparent;
}

.button.loading:after {
  animation: loading var(--duration-long) infinite linear;
  border: 5px solid transparent;
  border-left: 5px solid var(--button-text);
  border-radius: 100%;
  box-sizing: content-box;
  content: '';
  display: block;
  height: 2rem;
  position: absolute;
  width: 2rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shopify-payment-button {
  button {
    @extend .button, .button--secondary, .button--lg;
    border-radius: inherit;
    display: block;
    text-align: center;
    width: 100%;
    + button {
      margin-top: rem(8);
    }
    &:hover:not([disabled]) {
      background-color: var(--color-brand-secondary-50);
    }
    &.shopify-payment-button__button--hidden,
    &[disabled] {
      display: none;
    }
  }
}

// overwrite Shopify styling
.shopify-payment-button__more-options,
.shopify-payment-button__button--unbranded {
  all: unset;
}

.buttons {
  margin-bottom: rem(-16);
  .button {
    margin-right: rem(16);
    margin-bottom: rem(16);
    &:last-child {
      margin-right: 0;
    }
  }
}