{% comment %}
  This file defines a collapsible group section.
  The section has appearance settings for width, color scheme, and heading size.
  It also has a setting to close siblings when another item is opened.
{% endcomment %}

{% comment %}
  Capture collapsible settings as a JSON object.
{% endcomment %}
{%- capture collapsible_settings -%}
  data-options='{
    "closeSiblings": {{ section.settings.close_siblings }},
    "toggleClass": "collapsible-is-open"
  }'
{%- endcapture -%}

{% comment %}
  Capture container content.
  The content is a collapsible element that contains multiple collapsible items.
{% endcomment %}
{%- capture container_content -%}
  {%- if section.blocks.size > 0 -%}
    <collapsible-element {{ collapsible_settings }}>
      {%- for block in section.blocks -%}
        {%- if block.settings.heading != blank -%}
            <div class="border-border group border-b py-4 {% if block.settings.open_by_default -%}collapsible-is-open{%- endif -%}" data-collapsible-group>
              <button type="button" class="flex w-full items-center justify-between" data-collapsible-trigger>
                <span class="label-md">
                  {{- block.settings.heading -}}
                </span>
                {%- render 'global-icon',
                  icon: 'plus',
                  icon_class: "size-6 collapsible-trigger-icon group-[.collapsible-is-open]:hidden"
                -%}
                {%- render 'global-icon',
                  icon: 'minus',
                  icon_class: "size-6 collapsible-trigger-icon hidden group-[.collapsible-is-open]:block"
                -%}
              </button>
              {%- if block.settings.content != blank -%}
                <div class="collapsible-group__content group-[.collapsible-is-open]:pt-4"  data-collapsible-target>
                  <div class="overflow-hidden">
                    {{- block.settings.content -}}
                  </div>
                </div>
              {%- endif -%}
            </div>
        {%- endif -%}
      {%- endfor -%}
    </collapsible-element>
  {%- endif -%}
{%- endcapture -%}

{%- liquid
  # Assign default classes to the container and title.
  assign container_class = 'collapsible-group__container'
  assign title_class = 'collapsible-group__title'

  # Add container classes based on the section settings.
  if section.settings.container_width != blank
    assign container_class = container_class | append: ' ' | append: section.settings.container_width
  endif
  if section.settings.color_scheme != blank
    assign container_class = container_class | append: ' container--background my-0 ' | append: section.settings.color_scheme
  endif

  # Add title classes based on the section settings.
  if section.settings.heading_size != blank
    assign title_class = title_class | append: ' ' | append: section.settings.heading_size
  endif
-%}

{%- comment -%}
  Render the content using the format-container snippet.
  The snippet takes in the container class, header class, title class, title text, and content.
{%- endcomment -%}
{%- render 'format-container',
  class: container_class,
  header_class: 'collapsible-group__header',
  title_class: title_class,
  title: section.settings.heading,
  content_class: 'collapsible-group__content',
  content: container_content
-%}

{% schema %}
  {
    "name": "Collapsible Group",
    "class": "collapsible-group",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Appearance settings"
      },
      {
        "type": "select",
        "id": "container_width",
        "label": "Section content width",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "container--sm",
            "label": "Small"
          },
          {
            "value": "container--md",
            "label": "Medium"
          },
          {
            "value": "container--lg",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "default": "",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "close_siblings",
        "label": "Close siblings",
        "default": true,
        "info": "Select this option if you want to close other collapsible items when one is opened."
      },
      {
        "type": "header",
        "content": "Group heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collapsible Group"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading size",
        "info": "This does not affect the element. It only adjusts the size.",
        "default": "h3",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collapsible",
        "name": "Collapsible item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Collapsible"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "checkbox",
            "id": "open_by_default",
            "label": "Open by default",
            "default": false,
            "info": "Select this option if you want this collapsible item to be open by default."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collapsible Group",
        "category": "Collapsible Group"
      }
    ]
  }
{% endschema %}
