@use '../../mixins' as *;

/* Used for search and password */
.modal {
  &__toggle {
    list-style-type: none;
    &-close {
      display: none;
    }
    &-open {
      display: flex;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-brand-background);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    height: 4.4rem;
    width: 4.4rem;
    background-color: transparent;
    .no-js & {
      display: none;
    }
  }
}
.no-js details[open] {
  .modal__toggle {
     position: absolute;
     z-index: 2;
     &-open {
      display: none;
    }
   }
  svg.modal__toggle-close {
    display: flex;
    z-index: 1;
    height: 1.7rem;
    width: 1.7rem;
  }
}
