@use '../../mixins' as *;

predictive-search {
  .predictive-search {
    position: relative;
    color: var(--color-brand-text);
  }
  .predictive-search-results {
    box-sizing: border-box;
    @include mqmin($bp-header) {
      position: absolute;
      z-index: var(--z-index-popover);
      top: rem(14);
      background-color: var(--color-white);
      border-bottom: 1px solid var(--color-border-50);
      border-radius: var(--border-radius);
      max-height: 72vh;
      left: calc(var(--site-side-spacing) * -1);
      right: calc(var(--site-side-spacing) * -1);
    } 
    left: 0;
    right: 0;
    overflow: auto;
    &__inner {
      margin: rem(56) auto;
      @include mqmin($bp-header) {
        box-sizing: border-box;
        width: 100%;
        max-width: rem(432);
        padding: 0 rem(24);
      }
    }
  }
  .predictive-search__group {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: rem(16);
    &:last-child {
      margin-bottom: 0;
    }
    &__header {
      margin-bottom: rem(16);
      .label-medium {
        margin-bottom: 0;
      }
    }
    &--footer {
      margin-top: rem(24);
      padding-bottom: rem(24);
      @include mqmin($bp-header) {
        margin-top: rem(16);
        padding-bottom: rem(16);
      }
    }
  }
  .predictive-search__item__title {
    margin-bottom: rem(0);
  }
  .predictive-search__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .predictive-search__list-item {
    margin-bottom: rem(16);
    &.predictive-search__list-item--heading {
      .label-small {
        margin-top: 0;
      }
    }
    &.predictive-search__list-item--action {
      margin-top: 1px solid var(--color-brand-primary-50);
      padding: rem(8) rem(16) rem(16) rem(16);
    }
  }
  .predictive-search__list__link {
    display: grid;
    grid-template-columns: rem(64) 1fr;
    gap: rem(16);
    text-decoration: none;
    color: inherit;
    &:hover {
      opacity: 0.72;
    }
    &:active {
      opacity: 1;
    }
  }
}

.predictive-search__show-all {
  margin-bottom: rem(16);
}