<!doctype html>
<html class="no-js no-touch scroll-smooth" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ content_for_header }}

    {%- liquid
      render 'html-head-css'
    -%}
  </head>

  <body class="group/body">
    <main id="MainContent" class="focus-none content-for-layout">
      {{ content_for_layout }}
    </main>
  </body>
</html>
